.post {

    a.btnSpotify {
        background-image: url("chrome-extension://__MSG_@@extension_id__/images/w-icon-post-spotify.png");
        background-position: 2px 1px;
        margin-left: 4px;
        margin-right: 3px;

        &:hover {
            background-position: 2px -12px;
        }
    }
}
