@import "font-awesome/less/font-awesome.less";
@fa-font-path: "chrome-extension://__MSG_@@extension_id__/fonts";

.post > .btns {

    // > a.btnRepost,
    // > a.btnLike,
    // > a.btnComment,
    // > a.btnShare,
    // > span.postEdit > a,
    > a.btnSpotify {
        background: none;
        padding: 0;
        margin: 0;
    }

    // > span,
    // > span.postEdit > span {
    //     margin: 0 4px 0 4px;
    // }

    // > span.postEdit {
    //     margin: 0;
    // }
}
